---
export interface Props {
  titulo?: string;
}
const { titulo } = Astro.props;
const currentPath = Astro.url.pathname;
import { Image } from 'astro:assets';
import Logo from '../assets/LogoAmigurumi.png';
---
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{titulo ? `${titulo} | Amigurumis` : 'Amigurumis'}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">


  <link rel="stylesheet" href="/style.css" />
</head>

<body>

<header class="header">

  <a href="/" class="logo-link">
    <Image 
      src={Logo}
      alt="Logo Amigurumis"
      widths={[300, 600]}
      class="logo-img"
    />
  </a>

  <button class="menu-toggle" id="menu-toggle">
    ☰
  </button>

  <nav class="menu" id="menu">
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/modelos">Modelos</a></li>
      <li><a href="/coleccion/navidad">Colección</a></li>
      <li><a href="/contacto">Contacto</a></li>
    </ul>
  </nav>

</header>


<main>
    <slot />
</main>

<footer>
    <p>© 2024 Amigurumis. Todos los derechos reservados.</p>
</footer>

</body>
</html>

<script is:inline>
  document.addEventListener("DOMContentLoaded", function () {
    const toggle = document.getElementById("menu-toggle");
    const menu = document.getElementById("menu");

    if (toggle && menu) {
      toggle.addEventListener("click", function () {
        menu.classList.toggle("active");
      });
    }
  });
</script>

